.heading {
    background-color: black;
    color: chartreuse
}
.tab1 {
    font-size: 2rem;
}
                        .cdnClass 
                        {
                            width: 25%;
                            height: 75%;
                        }